<%= form_for @post do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :image %>
    <%= form.bard_file_field :image, accepts: "image", max: 100.kilobytes %>
  </p>

  <p>
    <%= form.label :images %>
    <%= form.bard_file_field :images, multiple: true, accepts: "image" %>
  </p>

  <p><%= form.submit "Submit" %></p>
<% end %>

<script type="module">
  import FormPersistence from "form-persistence"
  const form = document.querySelector("form")
  FormPersistence.persist(form, {
    beforeDeserialize: (form, data) => {
      [...form.querySelectorAll("bard-file")].forEach(bardFile => {
        bardFile.value = data[bardFile.name]
        delete data[bardFile.name]
      })
      return data
    },
    afterSerialize: (form, data) => {
      [...form.querySelectorAll("bard-file")].forEach(bardFile => {
        data[bardFile.name] = bardFile.value
      })
      return data
    },
  })
</script>

